body{
    color: #444;
    background-color: #6f5499;
}

textarea{
    border: 1px solid #ccc;
}
.navbar-brand, .navbar-nav > li > a, .navbar-brand:hover {
    color: #563d7c;
    font-weight: 500;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > li > a:hover {
    color: #463265;
    background-color: #f9f9f9;
}
.navbar-nav > li > a.msg
{
    color: #CC0606;
}

.dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 300;
    line-height: 1.42857143;
    color: #6F6E6E;
    font-size: 13px;
    white-space: nowrap;
}

.mod {
    background-color: #fff;
}
.pieces ul > li a {
    color: #333;
}

.pieces ul > li.active {
    background-color: #f1f9f7;
    border-color: #e0f1e9;
    color: #1d9d74;
}
.pieces ul > li.active >a{
    color: #1d9d74;
}
.form-control{
    border-radius: 0px;
    box-shadow:none;
}
.nav-tabs{
    border-color: #e0f1e9;
}
.nav-tabs>li{
    margin-bottom: -1px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px ;
    border-radius: 0;
    color: #aaa;

}
.nav-tabs>li>a:hover{
    background-color: #f1f9f7;
    border-color: #e0f1e9;
    border: 0px ;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #f1f9f7;
    border-color: #1d9d74;
    color: #1d9d74;
    border: 0px ;
    border-bottom: 2px solid #1d9d74;
}
.nav-tabs-body{
padding: 5px 10px;
}